html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.m, .mb, .mc, .mt, .sm, .smb, .smc, .smt {
    overflow: hidden;
    zoom: 1;
}

.succeed-box .success-cont {
    display: inline-block;
    display: block;
    font-family: "Microsoft YaHei";
}

.m, .mb, .mc, .mt, .sm, .smb, .smc, .smt {
    overflow: hidden;
    zoom: 1;
}

.succeed-box .success-top {
    position: relative;
    padding-left: 35px;
    margin: 20px 0;
}

.succeed-box .p-img {
    float: left;
    width: 60px;
    margin-right: 10px;
    border: 1px solid #e8e8e8;
}

.p-detail, .p-img, .p-market, .p-name, .p-price {
    overflow: hidden;
}

.succeed-box .p-info {
    float: left;
    width: 520px;
    margin: 0;
}

.succeed-box .p-name {
    width: 100%;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.succeed-box .p-name a {
    color: #333;
}

.succeed-box .success-btns {
    float: right;
    *width: 338px;
    font-size: 0;
    overflow: hidden;
}

.succeed-box .success-ad {
    float: right;
    height: 70px;
    width: 106px;
    margin: 10px 0;
}

.clear, .clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}

.succeed-box .btn-tobback {
    padding: 0 30px;
    margin-right: 10px;
    *margin-right: 9px;
    background: #fff;
    color: #E2231A;
    border: 1px solid #fff;
}

.succeed-box .btn-addtocart {
    position: relative;
    width: 136px;
    padding-left: 30px;
    background: #E2231A;
    border: 1px solid #E2231A;
    color: #fff;
}

.succeed-box .btn-addtocart, .succeed-box .btn-tobback, .succeed-box .btn-viewcart {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 34px;
    line-height: 36px;
    font-size: 16px;
    vertical-align: middle;
}

.succeed-box .btn-addtocart b {
    position: absolute;
    top: 8px;
    right: 15px;
    width: 10px;
    height: 20px;
    overflow: hidden;
    background: url(//misc.360buyimg.com/user/cart/widget/addtocart-201608/i/addtocart-icons.png) -20px -81px no-repeat;
}


.succeed-box .success-top .error-icon, .succeed-box .success-top .succ-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
    overflow: hidden;
    background: url(//misc.360buyimg.com/user/cart/widget/addtocart-201608/i/addtocart-icons.png) 0 0 no-repeat;
}

.succeed-box .success-top h3 {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}

.ftx-02, .ftx02 {
    color: #71b247;
}

.succeed-box .success-lcol {
    float: left;
}
